
/* this line can be removed later */

.site-header {
    background-color: #3bc48d;
    color :#ecfdf9;
    height: 100vh;
    font-family:monospace;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.site-text{
    margin: 10px;
}
a{
    color :#f8f8ff;
}
.profile{
    border-radius:50%;
    height:200px;
    width :200px;
    align-self: center;
    box-shadow:#0a8949 2px 5px 5px;
}
body {
     margin:0;
     background-color: #3bc48d;
     color :#ecfdf9;
}

.tech-stack{
    font-size: large;
    color: #ecfdf9;

}