.site-header {
    background-color: #3bc48d;
    color :#ecfdf9;
    height: 100vh;
    font-family:monospace;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.site-text{
    margin: 10px;
}
.connect{
    color :#ecfdf9;
}
.profile{
    border-radius:50%;
    height:200px;
    width :200px;
    align-self: center;
    box-shadow:#0a8949 2px 5px 5px;
}
body {
     margin:0;
}